@font-face {
    font-family: 'Roboto Regular';
    src: url('./fonts/roboto/roboto-regular.woff2')
         format('woff2');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./fonts/roboto/Roboto-Bold.woff2')
         format('woff2');
}
@font-face {
    font-family: Viga;
    src: url('./fonts/viga/viga.regular.woff2')
         format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    object-fit: cover;
}
button {
    border: none;
    text-decoration: none;
    background: transparent;
}
input {
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}

:root {
    --font-family: 'Roboto Regular', sans-serif;
    --second-family: 'Roboto Bold', sans-serif;
    --third-family: Viga, sans-serif;
    --padding-upright-container: 
        calc(20px + 33 * ((100vw - 320px) / (1920 - 320)));
    --padding-top-hero: 
        calc(59px + 37 * ((100vw - 320px) / (1920 - 320)));
}

html {
    font-size: 16px;
}
body {
    background: #000;
    font-family: var(--font-family);
    color: #fff;
    position: relative;
}
body.lock {
    overflow: hidden;
}
.container {
    padding: 0 calc(20px + 80 * ((100vw - 320px) / (1920 - 320)));
    max-width: 1920px;
}
.link:hover {
    text-decoration: 1px solid underline;
    text-underline-offset: 4px;
}
::placeholder {
    color: #ffffffdd;
}

/* ======= HEADER ======= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container,
.header__logo,
.header__name,
.nav__list,
.header__control {
    display: flex;
}
.header .container {
    margin: 0 auto;
    padding-top: var(--padding-upright-container);
    max-width: 1920px;
}
.header__container {
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    align-items: center;
    gap: 6px;
    position: relative;
    z-index: 10;
}
.header__name {
    font-family: var(--third-family);
    flex-flow: column;
}
.header-name__label {
    font-size: 1.25rem;
    line-height: 1.45;
    letter-spacing: 0.25em;
}
.header-name__slogan {
    font-size: 0.75rem;
    /*^ line-height: 2.5; */
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.5);
}
.nav__list {
    gap: 26px;
}
.nav__item-control {
    display: none;
}
.header__control {
    gap: 30px;
}
.header__label {
    padding-right: 8px;
}
.header__input[type=search] {
    border-bottom: 1px solid transparent;
}
.header__input[type=search]:focus {
    border-bottom-color: #c0c0c0;
}
.header__burger {
    display: none;
    position: relative;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero {
    padding-top: var(--padding-top-hero);
    height: 100vh;
}
.hero .container {
    padding-top: calc(60px + 191 * (100vw - 320px) / (1920 - 320));
    padding-bottom: var(--padding-upright-container);
    height: 100%;
}
.hero__container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 30px;
}
.hero__slogan {
    font: 1.5625rem
          var(--second-family);
}
.hero__main-title {
    display: inline-block;
    font: calc(4.5rem + 6.125 * ((100vw - 20rem) / (120 - 20)))
          var(--third-family);
}
.hero__desc {
    margin-bottom: 20px;
    max-width: 515px;
    font-size: calc(1.125rem + 0.125 * ((100vw - 20rem) / (120 - 20)));
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}
.hero__link {
    font-size: calc(1.375rem + 0.0625 * ((100vw - 20rem) / (120 - 20)));
    line-height: 1.30435;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__control {
    margin-top: auto;
}
.hero__flex {
    display: flex;
    justify-content: space-between;
}

/* ======= /HERO ======= */

/* ======= SWIPER ======= */

.swiper-backgrounds {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.swiper-button-next,
.swiper-button-prev {
    position: static;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

/* ======= /SWIPER ======= */